.ChatICon {
  height: 8px;
  width: 8px;
}

.Messagesheader {
  font-weight: bold;
  font-family: 'Inter';
  font-size: larger;
  padding: 10px;
}

/*need to center the icons and text*/
.Messagesflexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5;
}

.title {
  font-weight: bold;
  text-align: center;
}

.messagethread {
  text-align: center;
}

.MessagesButton {
  text-align: center;
}
